<span class="textHeading">Browse Programs</span>
          <ul class="treeview" id="navigation">
            <li class="tvic"><a href="/filter/popular">by Popularity</a></li>
            <li class="tvic"><a href="/filter/type/">by Type</a>
              <ul>
                <li class="tvil">
                    <a href="/filter/type/13">Action/Event</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/8">Actuality (Uncut Material)</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/9">Announcement</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/7">Commentary</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/1">Daily Program</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/4">Documentary</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/5">Interview</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/11">Music</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/6">News Report</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/10">Regular Show</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/3">Speech</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/12">Unspecified</a>
                </li>
                <li class="tvil">
                    <a href="/filter/type/2">Weekly Program</a>
                </li>
              </ul>
              <div class="tvca"></div>
            </li>
            <li class="tvic"><a href="/topic/">by Topic</a>
              <div class="tvca"></div>
            </li>
            <li class="tvic"><a href="/filter/length/">by Length</a>
              <ul>
                <li class="tvil"><a href="/filter/length/00:00:01,00:01:00/">0-1 minute</a></li>
                <li class="tvil"><a href="/filter/length/00:01:00,00:02:00/">1-2 minutes</a></li>
                <li class="tvil"><a href="/filter/length/00:02:00,00:05:00/">2-5 minutes</a></li>
                <li class="tvil"><a href="/filter/length/00:05:00,00:15:00/">5-15 minutes</a></li>
                <li class="tvil"><a href="/filter/length/00:15:00,00:30:00/">15-30 minutes</a></li>
                <li class="tvil"><a href="/filter/length/00:30:00,01:00:00/">30-60 minutes</a></li>
                <li class="tvil"><a href="/filter/length/01:00:00,01:30:00/">60-90 minutes</a></li>
                <li class="tvil"><a href="/filter/length/01:30:00,02:00:00/">90-120 minutes</a></li>
                <li class="tvil"><a href="/filter/length/02:00:00,00:00:00/">over 120 minutes</a></li>
              </ul>
              <div class="tvca"></div>
            </li>
            <li class="tvic"><a href="/series/">by Series</a>
              <ul>
                <li class="tvil">
   {% comment %}               <?php
                $links = $application->alphaLinks("/filter/series/");
                include($autoinclude['elements']['alphatable']);
                ?>{% endcomment %}
                </li>
              </ul>
              <div class="tvca"></div>
            </li>
            <li class="tvic"><a href="/contributor/">by Contributor</a>
              <ul>
                <li class="tvil">
      {% comment %}            <?php
                $links = $application->alphaLinks("/{$config['main_file']}/filter/contributor/");
                include($autoinclude['elements']['alphatable']);
                ?>{% endcomment %}
                </li>
              </ul>
                <div class="tvca"></div>
            </li>
            <li class="tvic"><a href="/filter/advisory/">by Advisory</a>
              <ul>
                <li class="tvil">
                    <a href="/filter/advisory/">Unknown</a>
                </li>
                <li class="tvil">
                    <a href="/filter/advisory/">No Advisories</a>
                </li>
                <li class="tvil">
                    <a href="/filter/advisory/">Contains Potentially Offensive Language</a>
                </li>
                <li class="tvil">
                    <a href="/filter/advisory/">For Safe-Harbor (late-night broadcast) Only</a>
                </li>
              </ul>
              <div class="tvca"></div>
            </li>
            <li class="tvic"><a href="/filter/license/">by License</a>
              <ul>
                <li class="tvil"><a href="/filter/license/legacy" title="Radio Project Legacy Ad Hoc Licenses"><img src="/static/images/icons/rp-legacy.png" alt="Radio Project Legacy Ad Hoc Licenses" /></a>
                <ul>
                  <li><a href="/filter/license/legacy/np" title="Ad Hoc License: For non-profit use only.">Non-Profit Only</a></li>
                  <li><a href="/filter/license/legacy/ne" title="Ad Hoc License: No excerpting/modifying without permission.">No Excerpting</a></li>
                  <li><a href="/filter/license/legacy/cp" title="Ad Hoc License: Contact producer for permission to broadcast.">Contact Producer</a></li>
                  <li><a href="/filter/license/legacy/sn" title="Ad Hoc License: See notes.">See Notes</a></li>
                </ul>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/by" title="Creative Commons Attribution (by)"><img src="/static/images/icons/by.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/by/3.0/" title="View License: Attribution (by)" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Attribution (by)" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/by-sa" title="Creative Commons Attribution Share Alike (by-sa)"><img src="/static/images/icons/by-sa.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="View License: Attribution Share Alike (by-sa)" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Attribution Share Alike (by-sa)" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/by-nd" title="Creative Commons Attribution No Derivatives (by-nd)"><img src="/static/images/icons/by-nd.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/by-nd/3.0/" title="View License: Attribution No Derivatives (by-nd)" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Attribution No Derivatives (by-nd)" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/by-nc" title="Creative Commons Attribution Non-commercial (by-nc)"><img src="/static/images/icons/by-nc.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/by-nc/3.0/" title="View License: Attribution Non-commercial (by-nc)" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Attribution Non-commercial (by-nc)" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/by-nc-sa" title="Creative Commons Attribution Non-commercial Share Alike (by-nc-sa)"><img src="/static/images/icons/by-nc-sa.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="View License: Attribution Non-commercial Share Alike (by-nc-sa)" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Attribution Non-commercial Share Alike (by-nc-sa)" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/by-nc-nd" title="Creative Commons Attribution Non-commercial No Derivatives (by-nc-nd)"><img src="/static/images/icons/by-nc-nd.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="View License: Attribution Non-commercial No Derivatives (by-nc-nd)" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Attribution Non-commercial No Derivatives (by-nc-nd)" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/pd" title="Creative Commons Public Domain"><img src="/static/images/icons/pd.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/publicdomain/" title="View License: Public Domain" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Public Domain" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/sampling-plus" title="Creative Commons Sampling Plus"><img src="/static/images/icons/sampling-plus.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/sampling+/1.0/" title="View License: Sampling Plus" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Sampling Plus" /></a>
                </li>
                  <li class="tvil">
                  <a href="/filter/license/nc-sampling-plus" title="Creative Commons Non-commmercial Sampling Plus"><img src="/static/images/icons/nc-sampling-plus.png" /></a>&nbsp;
                <a href="http://creativecommons.org/licenses/nc-sampling+/1.0/" title="View License: Non-commmercial Sampling Plus" target="_blank"><img src="/static/images/icons/info-icon.png" alt="View license: Non-commmercial Sampling Plus" /></a>
                </li>
              </ul>
            </li>
          </ul>
