{% extends 'radio4all/base.html' %}
{% load static %}

            {% block content %}

                <div id="result_set">
                    <div id="content_title">Browse by Contributor</div>
                    <br>
                    <a href="/filter/contributor/a">A</a>&nbsp;
                    <a href="/filter/contributor/b">B</a>&nbsp;
                    <a href="/filter/contributor/c">C</a>&nbsp;
                    <a href="/filter/contributor/d">D</a>&nbsp;
                    <a href="/filter/contributor/e">E</a>&nbsp;
                    <a href="/filter/contributor/f">F</a>&nbsp;
                    <a href="/filter/contributor/g">G</a>&nbsp;
                    <a href="/filter/contributor/h">H</a>&nbsp;
                    <a href="/filter/contributor/i">I</a>&nbsp;
                    <a href="/filter/contributor/j">J</a>&nbsp;
                    <a href="/filter/contributor/k">K</a>&nbsp;
                    <a href="/filter/contributor/l">L</a>&nbsp;
                    <a href="/filter/contributor/m">M</a>&nbsp;
                    <a href="/filter/contributor/n">N</a>&nbsp;
                    <a href="/filter/contributor/o">O</a>&nbsp;
                    <a href="/filter/contributor/p">P</a>&nbsp;
                    <a href="/filter/contributor/q">Q</a>&nbsp;
                    <a href="/filter/contributor/r">R</a>&nbsp;
                    <a href="/filter/contributor/s">S</a>&nbsp;
                    <a href="/filter/contributor/t">T</a>&nbsp;
                    <a href="/filter/contributor/u">U</a>&nbsp;
                    <a href="/filter/contributor/v">V</a>&nbsp;
                    <a href="/filter/contributor/w">W</a>&nbsp;
                    <a href="/filter/contributor/x">X</a>&nbsp;
                    <a href="/filter/contributor/y">Y</a>&nbsp;
                    <a href="/filter/contributor/z">Z</a>&nbsp;
                    <a href="/filter/contributor/0-9">0-9</a>&nbsp;
                </div>

            {% endblock %}


