{% extends 'radio4all/base.html' %}
{% load static %}

            {% block content %}
                <table><tbody>
                <tr><td><label>Contributor: </label></td><td>{{user_to_use.full_name}} &nbsp;</td><td><label>[<a href="/contributor/{{user_to_use.uid}}/contact">Contact Contributor</a>]</label></td></tr>
                <tr><td><label>Website: </label></td><td colspan="2">{{user_to_use.website}}</td></tr>
                <tr></td><td colspan="3"><label>Bio:</label> {{user_to_use.bio}}</td></tr>
                </tbody></table>

                <div id="result_set">
                    
                    <div id="content_title">{{user_to_use.full_name}}'s Programs <a href="http://www.radio4all.net/podcast.xml?uid={{user_to_use.uid}}" title="Download Podcast for Contributor: {{users_to_use.full_name}}"><img src="http://radio4all.net/images/podcast.gif" alt="Download Contributor Podcast" width="62" height="16" border="0" align="absmiddle"></div></div>
                    {% for s in page_obj %}
                    <div class="{% if forloop.counter|divisibleby:2 %}result_row_a{% else %}result_row_b{% endif %}">
                       <a href="/program/{{ s.program_id }}" class="result_info">
                        <label class="result_series">{{ s.program_title |safe }}</label>
                            : {{ s.subtitle |safe }}
                            <span>{{ s.program_title |safe }}<br />
                                <b>Date: </b>{{ s.date_created }}<br />
                                <b>Length: </b>{{ s.length }}<br />
                                <b>Contributor: </b>{{ s.speaker }}</span>
                        </a>
                    </div>
                    {% endfor %}

      {% if True %}
            <script type="text/javascript">
$(document).ready(function(){
        $(".control_link").click(function(){
                document.getElementById('loadmsg').innerHTML = "Loading...";
                $("#content").load($(this).attr("href"));
                return false;
         });
        $("#browsecontrol").change(function() {
                window.location.href = $(this).val();
        });
});
</script>
<!-- START: Browsing Controls -->
<table border="0">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>
<form><select id="browsecontrol">
        {% for i in page_obj.paginator.page_range %}
          <option value="?page={{i}}">{{ i }}</option>
        {% endfor %}
{% endif %}
    </select></form>
</td>
      <td>&nbsp;<a href=""><b>&gt;</b></a></td>
      <td>&nbsp;<span id="loadmsg">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} - Total: {{ page_obj.paginator.count }}</span></td>
    </tr>
  </tbody>
</table></div>
<!-- END: Browsing Controls -->
&nbsp;

            {% endblock %}
