{% extends 'radio4all/base.html' %}
{% load static %}
{% block content %}

<form name="search" accept-charset="UTF-8" method="post" action="/search/">
<div id="form_search">
  <div id="content_title">Search</div>
    {% csrf_token %}
    <table id="searchbox" border="0">
      <tbody>
        <tr>
          <td><label>Search terms:</label>
            &nbsp; </td>
          <td><input name="searchtext" size="50" maxlength="255" type="text" value="{{search_terms}}">
            <input name="submit" id="searchbutton" value="submit" border="0" src="/images/search-button.png" align="absmiddle" type="image">
          </td>
        </tr>
        <tr>
          <td><label>Narrow Search Range: </label>
            &nbsp; </td>
          <td>
            {% if search_range == 'today' %}
            <input name="range" value="today" class="special" type="radio" checked="checked">
            {% else %}
            <input name="range" value="today" class="special" type="radio">
            {% endif %}
            Today&nbsp;
            {% if search_range == 'week' %}
            <input name="range" value="week" class="special" type="radio" checked="checked">
            {% else %}
            <input name="range" value="week" class="special" type="radio">
            {% endif %}
            Last 7 Days&nbsp;
            {% if search_range == 'month' %}
            <input name="range" value="month" class="special" type="radio" checked="checked">
            {% else %}
            <input name="range" value="month" class="special" type="radio">
            {% endif %}
            Last 30 Days </td>
        </tr>
        <tr>
          <td><label>Specialized Search: </label>
            &nbsp; </td>
          <td><select name="type" id="typeselect">
              {% if search_typeselect == None %}
              <option value="null" selected="selected">Type...</option>
              {% else %}
              <option value="null">Type...</option>
              {% endif %}
              {% if search_typeselect == 'Action/Event' %}
              <option value="Action/Event" selected="selected">Action/Event</option>
              {% else %}
              <option value="Action/Event">Action/Event</option>
              {% endif %}
              {% if search_typeselect == 'Actuality (Uncut Material)' %}
              <option value="Actuality (Uncut Material)" selected="selected">Actuality (Uncut Material)</option>
              {% else %}
              <option value="Actuality (Uncut Material)">Actuality (Uncut Material)</option>
              {% endif %}
              {% if search_typeselect == 'Announcement' %}
              <option value="Announcement" selected="selected">Announcement</option>
              {% else %}
              <option value="Announcement">Announcement</option>
              {% endif %}
              {% if search_typeselect == 'Commentary' %}
              <option value="Commentary" selected="selected">Commentary</option>
              {% else %}
              <option value="Commentary">Commentary</option>
              {% endif %}
              {% if search_typeselect == 'Daily Program' %}
              <option value="Daily Program" selected="selected">Daily Program</option>
              {% else %}
              <option value="Daily Program">Daily Program</option>
              {% endif %}
              {% if search_typeselect == 'Documentary' %}
              <option value="Documentary" selected="selected">Documentary</option>
              {% else %}
              <option value="Documentary">Documentary</option>
              {% endif %}
              {% if search_typeselect == 'Interview' %}
              <option value="Interview" selected="selected">Interview</option>
              {% else %}
              <option value="Interview">Interview</option>
              {% endif %}
              {% if search_typeselect == 'Music' %}
              <option value="Music" selected="selected">Music</option>
              {% else %}
              <option value="Music">Music</option>
              {% endif %}
              {% if search_typeselect == 'News Report' %}
              <option value="News Report" selected="selected">News Report</option>
              {% else %}
              <option value="News Report">News Report</option>
              {% endif %}
              {% if search_typeselect == 'Regular Show' %}
              <option value="Regular Show" selected="selected">Regular Show</option>
              {% else %}
              <option value="Regular Show">Regular Show</option>
              {% endif %}
              {% if search_typeselect == 'Speech' %}
              <option value="Speech" selected="selected">Speech</option>
              {% else %}
              <option value="Speech">Speech</option>
              {% endif %}
              {% if search_typeselect == 'Unspecified' %}
              <option value="Unspecified" selected="selected">Unspecified</option>
              {% else %}
              <option value="Unspecified">Unspecified</option>
              {% endif %}
              {% if search_typeselect == 'Weekly Program' %}
              <option value="Weekly Program" selected="selected">Weekly Program</option>
              {% else %}
              <option value="Weekly Program">Weekly Program</option>
              {% endif %}
            </select>
            &nbsp;
            <input name="special" class="special" value="contributor" type="radio">
            &nbsp;Contributor&nbsp;
            <input name="special" class="special" value="filename" type="radio">
            &nbsp;Filename </td>
        </tr>
      </tbody>
    </table>
</div>
                <div id="result_set">
                    <div id="content_title">Search: {{search_terms}}</div>
                    {% for latest in page_obj %}
                    <div class="{% if forloop.counter|divisibleby:2 %}result_row_a{% else %}result_row_b{% endif %}" id="{{ latest.program_id }}">
                       <a href="/program/{{ latest.program_id }}" class="result_info">
                        <label class="result_series">{{ latest.series |safe }}</label>
                            : {{ latest.program_title |safe }}
                            <span>{{ latest.program_title |safe }}<br />
                                <b>Date: </b>{{ latest.date_created }}<br />
                                <b>Length: </b>{{ latest.length }}<br />
                                <b>Contributor: </b>{{ latest.full_name }}</span>
                        </a>
                    </div>
                    {% endfor %}

      {% if True %}
            <script type="text/javascript">
$(document).ready(function(){
        $(".control_link").click(function(){
                document.getElementById('loadmsg').innerHTML = "Loading...";
                $("#content").load($(this).attr("href"));
                return false;
         });
});
</script>
<!-- START: Browsing Controls -->
<table border="0">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>
    <select name="browsecontrol" id="browsecontrol">
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
          <option value="{{i}}" selected="selected">{{ i }}</option>
          {% else %}
          <option value="{{i}}">{{ i }}</option>
          {% endif %}
        {% endfor %}
{% endif %}
    </select>
</td>
      <td>&nbsp;<b>&gt;</b></td>
      <td>&nbsp;<span id="loadmsg">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} - Total: {{ page_obj.paginator.count }}</span></td>
    </tr>
  </tbody>
</table>
</div>
</form>
<!-- END: Browsing Controls -->
&nbsp;

{% endblock %}

