{% extends 'radio4all/base.html' %}
{% load static %}

            {% block content %}
                <div id="result_set">
                    <div id="content_title">Programs from series: {{series_name}} <a href="http://radio4all.net:8080/podcast.xml?series={{series_name}}" title="Download Podcast for Series: {{series_name}}"><img src="http://radio4all.net/images/podcast.gif" alt="Download Series Podcast" width="62" height="16" border="0" align="absmiddle"></div></div>

                    {% for s in series %}
                    <div class="{% if forloop.counter|divisibleby:2 %}result_row_a{% else %}result_row_b{% endif %}" id="{{ s.program_id }}">
                       <a href="/program/{{ s.program_id }}" class="result_info">
                        <label class="result_series">{{ s.program_title |safe }}</label>
                            : {{ s.subtitle |safe }}
                            <span>{{ s.program_title |safe }}<br />
                                <b>Date: </b>{{ s.date_created }}<br />
                                <b>Length: </b>{{ s.length }}<br />
                                <b>Contributor: </b>{{ s.speaker }}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endblock %}

