{% extends 'radio4all/base.html' %}
{% load static %}

            {% block content %}

                <div id="result_set">
                    <div id="content_title">Browse by Series</div>
                    <br>
                    <a href="/filter/series/a">A</a>&nbsp;
                    <a href="/filter/series/b">B</a>&nbsp;
                    <a href="/filter/series/c">C</a>&nbsp;
                    <a href="/filter/series/d">D</a>&nbsp;
                    <a href="/filter/series/e">E</a>&nbsp;
                    <a href="/filter/series/f">F</a>&nbsp;
                    <a href="/filter/series/g">G</a>&nbsp;
                    <a href="/filter/series/h">H</a>&nbsp;
                    <a href="/filter/series/i">I</a>&nbsp;
                    <a href="/filter/series/j">J</a>&nbsp;
                    <a href="/filter/series/k">K</a>&nbsp;
                    <a href="/filter/series/l">L</a>&nbsp;
                    <a href="/filter/series/m">M</a>&nbsp;
                    <a href="/filter/series/n">N</a>&nbsp;
                    <a href="/filter/series/o">O</a>&nbsp;
                    <a href="/filter/series/p">P</a>&nbsp;
                    <a href="/filter/series/q">Q</a>&nbsp;
                    <a href="/filter/series/r">R</a>&nbsp;
                    <a href="/filter/series/s">S</a>&nbsp;
                    <a href="/filter/series/t">T</a>&nbsp;
                    <a href="/filter/series/u">U</a>&nbsp;
                    <a href="/filter/series/v">V</a>&nbsp;
                    <a href="/filter/series/w">W</a>&nbsp;
                    <a href="/filter/series/x">X</a>&nbsp;
                    <a href="/filter/series/y">Y</a>&nbsp;
                    <a href="/filter/series/z">Z</a>&nbsp;
                    <a href="/filter/series/0-9">0-9</a>&nbsp;
                </div>

            {% endblock %}


