{% extends 'radio4all/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">.sbmt { border: none; } img { border: none; }</style>
<span id="content_title">Ways to Support the A-Infos Radio Project</span>
<div id="text_cell">
  <p align="justify">The A-Infos Radio Project is an all-volunteer, non-profit
  service and we rely on the contributions of our users and supporters to continue
  operating. Below are a few of the best ways you can help keep the project going.</p>
  <p class="textBoldLarge">Cash Donations:</p>
  <p align="justify">Monetary donations are always needed. You can send us <b>tax-deductible</b>
  donations (you decide how often and how much) via PayPal. Use the Donate buttons below or send to r4a@radio4all.net using the Paypal site. Either a one-time donation
 or an ongoing automatic donation subscription for
  $5 or $10 per month. If most people who used the Radio Project donated only a few dollars per year, we'd never have to worry
  about money again.</p>
<p>radio4all is now an activity (at the moment, the only activity) of Northern California Public Broadcasting, an IRS 501(c)(3) nonprofit that was formed in 1990.
  <table>
    <tbody>
      <tr>
        <td>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="YC4W2U79R9JNY">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	<br>
<!--
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="9435THZMV6K8E">
	<table>
	Another great way to keep radio4all going is a monthly subscription. We have regular, small expenses like internet bandwidth and power that have to be paid, a
little every month. Join your compatriots who subscribe for a few dollars every month and we won't have to nag (or have the power turned off.)<br><br>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="59N98KFCXSBWG">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="Ten dollars a month">Ten dollars a month : $10.00 USD - monthly</option>
	<option value="Five dollars a month">Five dollars a month : $5.00 USD - monthly</option>
	<option value="A dollar a month">A dollar a month : $1.00 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
      </tr>
    </tbody>
  </table>

--!>
<p>You can also send us a check, money order, or well concealed cash to:</p>
  <p>radio4all.net c/o David Josephson<br>
    329A Ingalls St<br>
    Santa Cruz, CA 95060<br>
    USA</p>
<!-- p class="textBoldLarge">Equipment Donations:</p>
  <p align="justify">If you would like to donate hardware (particularly complete rack mount systems
    or hard drives) it would be greatly appreciated. Please contact us at
    <a href="#" rel="ten/lla4oidar//pr" class="e">#</a>
    to make shipping arrangements with us.</p -->

  <p class="textBoldLarge">Mirror Our Archive!</p>
  <p align="justify">If you, your employer, an NGO or a University you are connected with
    can offer us someting in the neighborhood of two terabytes (2,000 GB) of storage space
    to store a mirror of our entire archive, and a decent amount of bandwith to serve the mirror,
    by all means get in touch with us at <a href="#" rel="ten/lla4oidar//pr" class="e">#</a> .
    The more sites mirroring our archive, the better the access to our
    archive will be for people around the world.</p>
  <p class="textBoldLarge">Link To Us!</p>
  <p align="justify">Copy the code below and paste it into your blog or website to help promote our project.</p><br>
  <a href="https://www.radio4all.net" title="A-Infos Radio Project https://www.radio4all.net"><img src="/images/icons/radio4all-icon.png" border="0" alt="A-Infos Radio
 Project https://www.radio4all.net"></a> Copy and paste code below:<br />
  &lt;a href="https://www.radio4all.net" title="A-Infos Radio Project https://www.radio4all.net"&gt;&lt;img src="https://www.radio4all.net/images/icons/radio4all-icon.png" border="0" alt="A-Infos Radio Project https://www.radio4all.net"&gt;&lt;/a&gt;
  </div>

<br><br><br><br>
{% endblock %}
